.player-round {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 98%;
    border: 1px solid grey;
    border-Radius: 3%;
    background-Color : #f2f2ff;
}

.layout {
    background-color: transparent;
}

.player-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}